* {
  margin: 0;
  padding: 0;
}

header {
  padding-block: 1em;
  background-color: #f8f8f8;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 12em;
}

.site-title {
  text-align: center;
}

header div h1{
  font-family: 'Lora', serif;
  color: #143774;
  margin-bottom: 2px;
  font-size: 2em;
}

header div p {
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  font-size: 1rem;
  color: #1792D2;
}

nav {
  display: flex;
  justify-content: center;
  margin-block: 2em;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav ul li{
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  color: #707070;
  margin : 0 0 0 2em;
}

.nav-links {
  text-decoration: none;
  text-align: center;
}

.nav-links:hover, .nav-links:focus {
  color: #1792D2;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.main {
  margin: 2em 12em 0;
  display: flex;
  justify-content: space-between;
}

main {
  width : 72%;
}

aside {
  width : 22%;
}

.fetured-image {
  width : 100%;
  max-height : 280px;
  object-fit: cover;
  object-position: bottom ;
}

.sidebar-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 20px solid #EBEBEB;
  padding: 1em;
  row-gap: 1em;
  margin-bottom: 2em;
}

.article-info {
  color: #707070;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.article-title {
  margin: 0.5em 0;
  color: #143774;
  font-family: 'lora' , serif;
}

.article-body {
  margin-bottom: 1em;
}

.article-ruler {
  margin: 1em 0;
}

p {
  letter-spacing:0cap;
}

.article-read-more {
  text-decoration: none;
  color: #1792D2;
  font-size: 0.8em;
  font-family: 'Ubuntu' , serif;
  font-weight: bold;
  /* instead of bold keywords go for numbers for font-wiegth because diff browsers may have different values for different keywords */
}

.article-read-more:hover,
.article-read-more:focus {
  text-decoration: underline;
  color: #143774;
  text-underline-offset: 2px;
}

.article-recent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.article-recent-left {
  width: 23%;
}

.article-recent-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* w/o space b/w class names of the same element */
.article-recent-image.right {
  object-position: left;
}

.article-recent-right {
  width: 72%;
}
.widget-title {
  font-size: 1.2em;
  color: #143774;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
}

.widget-post-title {
  color: #143774;
  font-size: 1em;
}

.widget-post-image {
  width: 100%;
  margin: .5em 0;
}

.widget-recent-post {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.widget-recent-post:last-child {
  border: none;
  padding-bottom : unset;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #143774;
  padding: 2em;
  margin-top: 2em;
}

.footer-heading {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.footer-text {
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 1005px) {
  .main {
    margin: 1em 4em 0;
  }
  .container {
    flex-direction: column;
    margin: 0 3em;
  }

  nav ul li {
    margin: 0 2em;
  }
}

@media (max-width: 760px) {
  .main, .article-recent{
    flex-direction: column;
  }

  main , aside, .article-recent-left, .article-recent-right {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5em 2em;
  }

  .site-title p{
    font-size: 12px;
  }

  .site-title h1{
    font-size: 1.5em;
  }

}