nav li a{
    color : black;
    text-decoration: none;
}

[class *= 'Birds' i]{
    color : rgb(8, 160, 187);
}

button:hover {
    color : goldenrod;
}

a:active {
    color : green;
}

a:hover {
    text-decoration: none;
}
a:visited {
    color : yellow;
}

input:checked {
    box-shadow: 0 0 0 3px;
}

input[type = "radio"]:invalid {
    box-shadow: 0 0 0 3px;
}

.second-div::first-letter {
    color : greenyellow;
}

div:empty {
    border : 2px solid red;
}

#line::first-line {
    color : blue;
}

div::selection {
    color : goldenrod
}

#line::before {
    content : "Shivendra "
}

#line::after {
    content : " Dwivedi"
}

